accelerate
transformers
diffusers[torch]
ftfy
# albumentations
opencv-python
einops
pytorch-lightning
# bitsandbytes
tensorboard
safetensors
# gradio
altair
easygui
toml
voluptuous
huggingface-hub
scipy
# for BLIP captioning
# requests
# timm
# fairscale
# for WD14 captioning (tensorflow)
# tensorflow
# for WD14 captioning (onnx)
# onnx
# onnxruntime-gpu
# onnxruntime
# this is for onnx:
# protobuf
# open clip for SDXL
open-clip-torch==2.20.0
