accelerate
transformers>=4.36.2
diffusers[torch]
ftfy
# albumentations
opencv-python-headless>=4.9.0.80
einops
pytorch-lightning
# bitsandbytes
tensorboard>=2.17.0
safetensors
# gradio
altair
easygui
toml
voluptuous
huggingface-hub
scipy
# for BLIP captioning
# requests
# timm
# fairscale
# for WD14 captioning (tensorflow)
# tensorflow
# for WD14 captioning (onnx)
# onnx
# onnxruntime-gpu
# onnxruntime
# this is for onnx:
# protobuf
# open clip for SDXL
open-clip-torch>=2.24.0
# For logging
rich>=13.7.0
